REACT_APP_AUTH_TOKEN=eyJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI5MDE5NzQiLCJhdWQiOiIyOjIiLCJuYmYiOjE2Mzk0MjY1MjYsIm1zaCI6ImIwYzYyZmE4LWE3YmMtNGQzZi04OWZlLTI5OGFhZmE5ODlkNyIsImlzcyI6Imh0dHBzOlwvXC9zY2hvb2wubW9zLnJ1IiwicmxzIjoiezI6WzIxOjI6W10sMzE6NDpbXSw0MToxOltdXX0iLCJyZ24iOmZhbHNlLCJleHAiOjE2NDAyOTA1MjYsImlhdCI6MTYzOTQyNjUyNiwianRpIjoiNzE5YzY2ZTEtMjI2MS00OTc0LTljNjYtZTEyMjYxODk3NGI4Iiwic3NvIjoiOTQwYTEzOTctMDlmYy00MjdlLTlmMDAtNzkzYTE4NGJlOTRjIn0.AoHq7HhPGLE0MWTAyw90L-z5aN1k5hnTYKAYhYweVHoZM7F8lTfYVZx3rk3xRNcAHjRiejfLG0E02-2Nb4nJqWsDrUQbWi60DgltiV8nK8COMds5fulNwujDQKcjSSo9jQbsKGb8-Bm28vkKdR_FnPv7wunfQH-gk3Tb6dcAY1KPFUGeMMpg1z54177GE-kmfMfkWQutJxs3Zn_N1XVwyrRgRlP22Bn77ukGCdhjYvxO9eU2TF_tt3CiZ3EUqXrmy6mQDCS1bYM-Rh3F1yXQIM2bk7l8OUWViXRPwsYen1BfQ4RiVoHfBYI007MJpZJIpsoUWF-sEr5Pr12DiySAGQ
REACT_APP_ACADEMIC_YEAR_ID=9
REACT_APP_ACADEMIC_PERIOD=0
REACT_APP_STUDENT_PROFILE_ID=5808863
REACT_APP_PROXY=https://dnevnik.mos.ru